@model IEnumerable<PassRegistration.Models.PassRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    tr:nth-child(even) {
        background-color: #eeeeee
    }
    tr:nth-child(odd) {
        background-color: #eeeeee
    }


</style>
    

@if (User.IsInRole("Admin"))
{


 <br />
 <br />
 <br />
 <br />
 <br />
 <br />
 <br />
 <br />

<center>
    <h2>Currently Registered Passes.</h2>
</center>

<center>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># In HouseHold</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone No.</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consultation in Model)
                {
                    <tr>
                        <td>@consultation.Name</td>
                        <td>@consultation.NumberInHouse</td>
                        <td>@consultation.Address</td>
                        <td>@consultation.City</td>
                        <td>@consultation.PhoneNumber</td>
                        <td>@consultation.Email</td>
                        <td>@consultation.Status</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = consultation.Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = consultation.Id })</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</center>
}
else
{
    Response.Redirect("/home");
}