@model PassRegistration.Models.PassRegistration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Delete</h2>

    <p>
        Are you sure you would like to delete this pass?
    </p>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Number in House: @Model.NumberInHouse</li>
        <li>Address: @Model.Address,@Model.ZipCode</li>
        <li>City: @Model.City</li>
        <li>Phone Number: @Model.PhoneNumber</li>
        <li>Email: @Model.Email</li>
    </ul>

    @using (Html.BeginForm("DoDelete", "PassRegistration", FormMethod.Post))
    {

        @Html.HiddenFor(m => m.Id)
        <input type="submit" class="btn btn-danger" value="Yes, Delete it!" />
        @Html.ActionLink("No, back to passes", "Index")
    }
