@model IEnumerable<PassRegistration.Models.PassRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pass Registrations</h2>

<p>
    @Html.ActionLink("Add Registration", "New")
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th># In HouseHold</th>
                <th>Address</th>
                <th>City</th>
                <th>Phone No.</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consultation in Model)
            {
                <tr>
                    <td>@consultation.Name</td>
                    <td>@consultation.NumberInHouse</td>
                    <td>@consultation.Address,@consultation.ZipCode</td>
                    <td>@consultation.City</td>
                    <td>@consultation.PhoneNumber</td>
                    <td>@consultation.Email</td>
                </tr>
            }
        </tbody>
    </table>

</div>